@import "../../styles/constants";

.machine-window {
  border: 25px solid $color-text;
  border-bottom: 85px solid $color-text;
  height: 260px;
  background-color: transparent;
  min-width: 285px;
  position: absolute;
  z-index: 1;
  &__button {
    position: relative;
    bottom: -260px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 200px;
    }
  }
  &::before {
    content: url("./elipse.svg");
    width: 335px;
    position: absolute;
    top: -152px;
    left: -25px;
  }
}

#inner-elipse {
  position: absolute;
  top: -135px;
  left: 0;
}

.blinker-0 {
  animation: percentage-0 1s linear infinite;
}

.blinker-1 {
  animation: percentage-10 1s linear infinite;
}

.blinker-2 {
  animation: percentage-20 1s linear infinite;
}

.blinker-3 {
  animation: percentage-30 1s linear infinite;
}

.blinker-4 {
  animation: percentage-40 1s linear infinite;
}

.blinker-5 {
  animation: percentage-50 1s linear infinite;
}

.blinker-6 {
  animation: percentage-60 1s linear infinite;
}

.blinker-7 {
  animation: percentage-70 1s linear infinite;
}

.blinker-8 {
  animation: percentage-80 1s linear infinite;
}

.blinker-9 {
  animation: percentage-90 1s linear infinite;
}

.blinker-10 {
  animation: percentage-0 1s linear infinite;
}

.blinker-11 {
  animation: percentage-10 1s linear infinite;
}

.blinker-12 {
  animation: percentage-20 1s linear infinite;
}

.blinker-13 {
  animation: percentage-30 1s linear infinite;
}

.blinker-14 {
  animation: percentage-40 1s linear infinite;
}

.blinker-15 {
  animation: percentage-50 1s linear infinite;
}

.blinker-16 {
  animation: percentage-60 1s linear infinite;
}

.blinker-17 {
  animation: percentage-70 1s linear infinite;
}

.blinker-18 {
  animation: percentage-80 1s linear infinite;
}

.blinker-19 {
  animation: percentage-90 1s linear infinite;
}

.blinker-20 {
  animation: percentage-0 1s linear infinite;
}

.blinker-21 {
  animation: percentage-10 1s linear infinite;
}

@keyframes percentage-0 {
  0% {
    opacity: 30%;
  }
}

@keyframes percentage-10 {
  10% {
    opacity: 30%;
  }
}

@keyframes percentage-20 {
  20% {
    opacity: 30%;
  }
}

@keyframes percentage-30 {
  30% {
    opacity: 30%;
  }
}

@keyframes percentage-40 {
  40% {
    opacity: 30%;
  }
}

@keyframes percentage-50 {
  50% {
    opacity: 30%;
  }
}

@keyframes percentage-60 {
  60% {
    opacity: 30%;
  }
}

@keyframes percentage-70 {
  70% {
    opacity: 30%;
  }
}

@keyframes percentage-80 {
  80% {
    opacity: 30%;
  }
}

@keyframes percentage-90 {
  90% {
    opacity: 30%;
  }
}