@import "../../styles/constants";

.machine-window {
  border: 25px solid $color-text;
  border-bottom: 85px solid $color-text;
  height: 260px;
  background-color: transparent;
  z-index: 1;
  width: 285px;
  &__light-bulb {
    width: 10px;
    height: 10px;
    background-color: #FFCE54;
    position: absolute;
    top: -10px;
    border-radius: 100%;
    box-shadow: 0 0 20px 5px #fff;
    animation: blinker 1s linear infinite;
  }
  &__button {
    position: relative;
    bottom: -260px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 200px;
    }
  }
  &::before {
    content: url("./elipse.svg");
    width: 335px;
    position: absolute;
    top: -127px;
    left: 0;
    //border-top-left-radius: 150px;
    //border-top-right-radius: 150px;
    //border-bottom: 100px solid $color-text;
  }
}

#inner-elipse {
  position: absolute;
  top: -115px;
  left: 25px;
}

text {
  fill: #FF9800;
}

.blinker-0{
  animation: blinker-1 1s linear infinite;
}

.blinker-1{
  animation: blinker-1 1s linear infinite;
}
.blinker-2{
  animation: blinker-2 1s linear infinite;
}
.blinker-3{
  animation: blinker-3 1s linear infinite;
}
.blinker-4{
  animation: blinker-4 1s linear infinite;
}
.blinker-5{
  animation: blinker-5 1s linear infinite;
}

@keyframes blinker-0 {
  0% {
    box-shadow: 0 0 20px 10px #f9de8a;
  }
}


@keyframes blinker-1 {
  10% {
    box-shadow: 0 0 20px 10px #f9de8a;
  }
}
@keyframes blinker-2 {
   30% {
     box-shadow: 0 0 20px 10px #f9de8a;
   }
 }

@keyframes blinker-3 {
  50% {
    box-shadow: 0 0 20px 10px #f9de8a;
  }
}

@keyframes blinker-4 {
  70% {
    box-shadow: 0 0 20px 10px #f9de8a;
  }
}

@keyframes blinker-5 {
  90% {
    box-shadow: 0 0 20px 10px #f9de8a;
  }
}