@import "../../styles/constants";

.catalog-list {
  padding: 0;
  a {
    text-decoration: none;
    color: $color-primary;
  }
  &__item {
    display: flex;
    list-style: none;
    background-color: $color-tertiary;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }
  h3 {
    margin-left: 10px;
  }
}

}
