.button {
  color: white;
  text-decoration: none;
  padding: 0;
  background-color: #2c9e4b;
  height: 40px;
  width: 100px;
  border: 0;
  font: inherit;
  border-radius: 5px;
  margin: 5px;
  &--large {
    min-width: 80%;
  }
}
