@import "./constants";

.button {
  text-decoration: none;
  height: 40px;
  min-width: 100px;
  width: 100%;
  border: 0;
  font: inherit;
  color: $color-text;

  &--primary {
    padding: 0;
    background-color: $color-primary;
    border-radius: 80px;
    &:hover {
      border: 2px solid $color-secondary;
    }
  }
  &--secondary {
    color: $color-text;
    border-top: 1px solid $color-text;
    background-color: white;

    &:hover {
      color: $color-text-active;
      border-top: 4px solid $color-text-active;
    }
  }
  &--large {
    min-width: 200px;
  }
  &:hover {
    cursor: pointer;
  }
}







