$color-primary: #D0F0C0;
$color-secondary: #2c9e4b;
$color-tertiary: #E5E5E5;
$color-text: #3E4739;
$color-text-active: #7C9073;

$desktop-min-width: 1024px;
$tablet-min-width: 480px;

@mixin button {

}