$color-primary: #D0F0C0;
$color-secondary: #2c9e4b;
$color-tertiary: #E5E5E5;
$color-text: #3E4739;
$color-text-active: #7C9073;

$desktop-min-width: 1024px;
$tablet-min-width: 480px;

@mixin button-raised {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0);
  }
}