.machine {
    display: flex;
    flex-direction: column;
}

.machine-windows {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.button-spin {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: lightgreen;
}
