@import "../../styles/constants";
.machine {
  display: flex;
  flex-direction: column;
  &__windows {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: $color-tertiary;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }
}

