@import "../../styles/constants";

.machine {
  display: flex;
  margin: 100px calc(50% - 165px) 0 calc(50% - 165px);
  position: relative;
  &__rings {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    z-index: -1;
  }
}

.machine-winner {
  display: flex;
  padding: 0;
  justify-content: space-around;
  &__heading {
    text-align: center;
    margin-top: 0;
  }
  &__icon {
    list-style: none;
    width: 120px;
    height: 100px;
    box-sizing: border-box;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0.9);
    border: 0.5px solid #969799;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
  }
  &__specs-list {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    button {
      width: 250px;
      span {
        padding: 0 20px;
      }
      :hover {
        color: $color-text-active;
      }
      svg {
        vertical-align: middle;
      }
    }
  }
}
