@import "../../styles/constants";

.machine-item-detail {
  width: 100%;
  position: relative;
  &__icon svg {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    vertical-align: middle;
  }
  &__image img {
    max-width: 100%;
  }
  &__description {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  &__specs {
    margin: 20px 0;
  }
  &__specs-list {
    color: $color-primary;
    padding: 0;
    li {
      width: 100%;
      list-style: none;
      background-color: #fff6d6;
      margin: 5px 0;
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      img {
        padding: 0 20px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}

.button--leave-site {
  color: $color-text;
  text-align: left;
  margin: 25px;
  span {
    padding: 0 20px;
  }
  :hover {
    color: $color-text-active;
  }
  svg {
    vertical-align: middle;
  }
}

#sticky-cta {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: $color-primary;
  right: -15px;
}