@import "../../styles/constants";

.machine-item-detail {
  position: relative;
  &__icon svg {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    vertical-align: middle;
  }
  &__image {
    max-width: 100vw;
  }
}

.button--leave-site {
  color: $color-text;
  text-align: left;
  span {
    padding: 0 20px;
  }
  :hover {
    color: $color-text-active;
  }
  svg {
    vertical-align: middle;
  }
}