@import '../../styles/constants';

.layout-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 150px 1fr 100px 200px;
  grid-template-areas:
          "header header header"
          ". main . "
          ". navigation . "
          ". footer .";
}

.header {
  grid-area: header;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  &__wave {
    width: 100%;
  }
  &__title {
    color: $color-text;
    position: absolute;
    font-size: 24px;
    margin-top: 24px;
  }
}


.navigation {
  grid-area: navigation;
}

.navigation-list {
  padding: 0;
  margin: 20px;
  display: flex;
  justify-content: center;
  &__item {
    display: inline;
    list-style: none;
  }
}

hr {
  grid-area: ruler;
  width: 65%;
  border: 1px solid $color-text;
}

.main {
  grid-area: main;
  padding: 20px;
  display: flex;
}

.footer {
  grid-area: footer;
}